@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Montserrat", sans-serif;
  background-color: white;
}

#s13 {
  position: relative;
}

#s7 {
  position: relative;
}

#s7 .social-media-images {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#s7 .social-media-images .img1 {
  /* position: absolute;
  top: 0;
  left: 24px; */
  height: 40%;
  object-fit: contain;
}

#s7 .social-media-images .img2 {
  /* position: absolute;
  top: 0;
  left: 300px; */
  height: 40%;
  object-fit: contain;
}

#s7 .social-media-images .img3 {
  /* position: absolute;
  top: 0;
  left: 300px; */
  height: 40%;
  object-fit: contain;
}

#s13 #video-mask1 {
  position: absolute;
  background-color: transparent;
  top: 73px;
  bottom: 0;
  right: 0;
  left: 104px;
  width: 185px;
  height: 185px;
  cursor: pointer;
}

#s13 #video-mask2 {
  position: absolute;
  background-color: transparent;
  top: 73px;
  bottom: 0;
  right: 0;
  left: 326px;
  width: 185px;
  height: 185px;
  cursor: pointer;
}

#s13 #video-mask3 {
  position: absolute;
  background-color: transparent;
  top: 73px;
  bottom: 0;
  right: 0;
  left: 552px;
  width: 185px;
  height: 185px;
  cursor: pointer;
}

#s13 #video-mask4 {
  position: absolute;
  background-color: transparent;
  bottom: 90px;
  right: 0;
  left: 328px;
  width: 185px;
  height: 185px;
  cursor: pointer;
}

#s13 #video-mask5 {
  position: absolute;
  background-color: transparent;
  bottom: 90px;
  right: 0;
  left: 552px;
  width: 185px;
  height: 185px;
  cursor: pointer;
}

#s13 #video-mask1 video,
#s13 #video-mask2 video,
#s13 #video-mask3 video,
#s13 #video-mask4 video,
#s13 #video-mask5 video {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
}

#s13 .single-video-mask {
  position: absolute;
  background-color: transparent;
  top: 73px;
  bottom: 73px;
  right: 73px;
  left: 73px;
  cursor: pointer;
}

#s13 .single-video-mask video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
}

.about-us .aboutus-red-patch {
  background-color: #bd1622;
  padding: 12px 25px;
  max-width: max-content;
  border-radius: 8px;
  text-align: start;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-us .aboutus-red-patch p {
  color: white;
  margin-bottom: 3px;
  margin-top: 3px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px !important;
}

.about-us .aboutus-red-patch h4 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px !important;
}

.about-us .aboutus-content p {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
}

.website-mockup {
  display: flex !important;
  flex-direction: row;
  align-items: stretch;
}

.website-mockup .laptop-div {
  flex: 1.5;
}

.website-mockup .website-details {
  background-color: #d2d2d2;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 16px;
  justify-content: flex-start;
}

.website-mockup .website-details h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: initial;
  font-size: 22px;
}

#s14 h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 30px;
  text-transform: initial;
  margin-bottom: 8px;
  user-select: none;
}

#s14 p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: black;
  font-size: 22px;
  text-transform: initial;
  margin: 0;
  user-select: none;
}

#s14 p a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #bd1622;
  font-size: 22px;
  text-transform: initial;
  margin: 0;
  user-select: none;
}
